{% extends 'blog/includes.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}
<h3>Contact Us</h3>
<hr>
{% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <!-- <h4>{{message.tags}}</h4> -->
        <h4>{% if  message.tags == "danger" %}Whoops .!{% else %}Success{% endif %}</h4>
        <p>{{ message }}</p>
    </div>
{% endfor %}
<form action="/blog/contact" method="post" class="form-horizontal">
    {% csrf_token %}
    {{contactForm}}
    <hr>
    <input type="submit" class="btn btn-info">
    <input type="reset" class="btn btn-warning">
</form>
{% endblock %}
