<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-2.2.4.js" ></script>
    <script src="https://bootswatch.com/3/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/3/paper/bootstrap.min.css">
    <title>Home page | Python Training</title>
</head>
<body>
<div class="container-fluide">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/blog">Python Training</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<div class="container">
    <div class="jumbotron">
      <h3>Python/Django Index</h3><hr>
      <table class="table table-bordered">
        <thead>
          <tr class="success">
              <th>#</th><th>Module Name</th><th style="width: 20%;">Reference Link</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>1</td><td>Url Routing</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/http/urls/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>3</td><td>How to make App</td><td><a href="https://docs.djangoproject.com/en/4.0/intro/tutorial01/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>2</td><td>Templating in django</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/templates/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>3</td><td>Migrations</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/migrations/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>4</td><td>Using Forms.py for Generate Forms</td><td><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Forms" target="_blank">Link to Reference</a></td></tr>
          <tr><td>5</td><td>Models & Queries</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/db/queries/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>6</td><td>One to Many Relationships</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/db/examples/many_to_one/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>7</td><td>Many to Many Relationships</td><td><a href="https://docs.djangoproject.com/en/4.0/topics/db/examples/many_to_many/" target="_blank">Link to Reference</a></td></tr>
          <tr><td>8</td><td>CRUD Application</td><td><a href="/blog" target="_blank" class="btn btn-sm btn-danger">Visit Application</a></td></tr>
        </tbody>
      </table>
    </div>
</div>
</body>
</html>